<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-09-17                    -->
<!--#######################################-->

<launch>
    <!-- overridable arguments -->
    <arg name="robot_host" default="192.168.1.100"/>
    <arg name="robot_port" default="8439"/>

    <!-- robot node (Hello Y6 has no gripper, no test group) -->
    <node name="hex_ros_robot_hello_y6" pkg="hex_ros_robot_arm" type="robot_hello_y6.py" output="screen" >
        <rosparam file="$(find hex_ros_robot_arm)/config/ros1/hello_params.yaml"/>
        <param name="robot_host" value="$(arg robot_host)"/>
        <param name="robot_port" value="$(arg robot_port)"/>
    </node>
</launch>
